select
    width: 170px
    outline: none
    height: 23px
    border-radius: 5px
    border: 1px solid teal
    
input
    border-radius: 5px
    width: 850px
    padding: 5px 15px
    margin: 5px 0
    border: 1px solid teal
    outline: none

input::-webkit-outer-spin-button
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

input[type=number] 
  -moz-appearance: textfield



